<% provide(:title, "People") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | DUOS Project</title>
  </head>
  <body>
    <h1>DUOS: People</h1>
    <p>
      Here are the profiles of those involved in the DUOS Project:
    </p>
  </body>
</html>