<% provide(:title, "Publications") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | DUOS Project</title>
  </head>
  <body>
    <h1>DUOS: Publications</h1>
    <p>
      View publications from the DUOS project at ...
    </p>
  </body>
</html>